{# queued_shows.html.twig

	This file provides the template for displaying queued shows
	in the database.  It sets up the table style, and then builds the html code
	for the table of shows queued by the logged in user.
	
	-Sean McQueeney
	-CSC 436
	-streamTV Project
	
#}

{% include 'header.twig' %}
<style>
table, tr, th, td { border: 1px solid black !important; }
	td, th {padding: .4em;}
</style>

{% if result %}
<h1> Queued Shows for {{result[0].fname}} {{result[0].lname}}</h1>
<h2> {{result[0].email}}</h2>
	<table>
	<tr>
	<th class="title">Title</th>
	<th class="date">Date Queued</th>
	<th class="watched">Watched Episodes</th>
	</tr>
	
	{% for i in result %}
	<tr>
	<!--link to show information page-->
	<td class="title"><a href="/streamTV/shows/{{i.showid}}">{{i.title}}</a></td>
	<td class="date">{{i.datequeued}}</td>
	<!--link to watched page-->
	<td class="watched"><a href="/streamTV/watched/{{i.showid}}">List</a></td>
	</tr>
	{% endfor %}
	</table>
{% else %}
	<h3> No queued shows </h3>	
{% endif %}
{% include 'footer.twig' %}