{# search.html.twig

	This file provides the template for displaying search results after a user ,either logged 
	in or not, searched with keywords and displays best matches. 
	
	-Sean McQueeney
	-CSC 436
	-streamTV Project
#}

{% include 'header.twig' %}
<style>
	table, tr, th, td { border: 1px solid black !important; }
	td, th {padding: .4em;}
		.title { text-align: center; }
</style>

<h1>Search</h1>

{{form_start(form)}}
{{form_widget(form)}}
{{form_end(form)}}

{% if results %}
	<table>
		<tr>
		<th class="title">Show Titles</th>
		</tr>
	{% for shows in results %}
		<tr>
		<!--link to show information page-->
		<td class="title"><a href="/streamTV/shows/{{shows.showid}} ">{{shows.title}}</a></td>
		</tr>
	{% endfor %}
	</table>
{% endif %}
{% if results_2 %}
	
	<table>
		<tr>
		<th class="name">Actors</th>
		</tr>
	{% for actor in results_2 %}
		<tr>
		<!--link to actor information page-->
		<td class="name"><a href="/streamTV/actor/{{actor.actID}}">{{actor.fname}} {{actor.lname}}</a></td>
		</tr>
	{% endfor %}
{% endif %}


{% include 'footer.twig' %}